@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: white;
}
body {
  background-color: #f0effd;
}
.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.side-bar {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 15vw;
  height: 90vh;
  box-sizing: border-box;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(91, 91, 249, 1) 0%,
    rgba(140, 74, 242, 1) 63%
  );
}
.title {
  text-align: center;
}
.sorts {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}
.set-sort {
  margin-top: 5px;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.4s;
}
.set-sort:hover {
  scale: 1.1;
  transform-origin: 0 0;
}
.set-sort:active {
  scale: 0.9;
}

.settings {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.selected-sort {
  color: #5b5bf9;
}
.icons {
  display: flex;
  gap: 20px;
  width: auto;
  justify-content: space-between;
  align-items: center;
}
.icon {
  color: #5b5bf9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.icon:hover {
  color: white;
}
.btn {
  border: none;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
.btn:hover {
  background: linear-gradient(
    90deg,
    rgba(91, 91, 249, 1) 0%,
    rgba(140, 74, 242, 1) 63%
  );
}
.speed {
  margin-bottom: 20px;
}
.graph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 2px solid #5b5bf9;
  box-shadow: rgba(255, 224, 224, 0.16) 0px 1px 4px;
}
.bar {
  display: flex;
  align-items: flex-start;
  flex: 0.5;
  margin: 1px;
  resize: horizontal;
  position: relative;
  transition: all 0.4s ease-in;
  background: linear-gradient(0deg, #5b5bf9 0%, #c7a5f9 80%);
}
.selected {
  background: linear-gradient(0deg, #d74142 0%, #ebb1b0 80%);
}

.box {
  background: transparent;
  color: white;
  padding: 2px;
  max-width: 80%;
  border: none;
  font-family: "Poppins";
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  appearance: button;
  outline: none;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin-left: -20px;
}
.footer > p {
  text-align: center;
}
.footer > p > .credits {
  cursor: pointer;
  text-decoration: none;
}
.footer > p > .credits:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
  }
  .side-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 25vh;
    margin: 0;
    padding: 10px;
  }
  .settings {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .sorts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .speed {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .set-sort {
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 0.9rem;
  }
  .App {
    flex-direction: column;
  }
  .side-bar {
    flex-direction: column;
    max-width: 90vw;
    max-height: 30vh;
    margin: 0;
    padding: 10px;
  }

  .speed {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .set-sort {
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 360px) {
  * {
    font-size: small;
  }
  .sorts {
    display: flex;
  }
  .set-sort {
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.4s;
  }
}
